<div id="book"

style="background:url('../assets/aboutnew.jpg')no-repeat;position:absolute;height:100vh;width:100%;background-size:cover;background-attachment:fixed;background-size: 100% 100%"></div>





<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">About Books</h5>
                    <p class="card-text">A book is a medium for recording information in the form <br>of writing or images, typically composed of many  pages<br> (made of papyrus, parchment, vellum, or paper) bound <br>together and protected by a cover.[1] The technical term <br></p>
                    <a class="btn btn-primary">Book Details</a>
                </div>
            </div>
         
        </div>
    </div>
</div>