<div id="book"

style="background:url('../assets/contactus1.jpg')no-repeat;position:absolute;height:100vh;width:100%;background-size:cover;background-attachment:fixed;background-size: 100% 100%"></div>



<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Connect With Us </h5>
                    <p class="card-text"> +91-7829640827</p> 
                    
                   <p class="card-text">animal@gmail.com</p><br>
                   <p class="card-text">+91-9886476661</p>
                   <p class="card-text">novelbooks@gmail.com</p>
                    <a class="btn btn-primary">Go to Publisher</a>
                
                </div>
            </div>
          
        </div>
    </div>
</div>