<div id="book"

style="background:url('../assets/book.jpg')no-repeat;position:absolute;height:100vh;width:100%;background-size:cover;background-attachment:fixed;background-size: 100% 100%"></div>



<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">YOU CAN WIN</h5>
                    <p class="card-text">  Winners dont't do different things.</p>
                    <a class="btn btn-primary">Click here</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">HERE, THERE AND EVERYWHERE</h5>
                    <p class="card-text">Best-Loved Stories of Sudha Murty.</p>
                    <a class="btn btn-primary">Click here</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">SECRET</h5>
                    <p class="card-text">If you learn the secret you will come to know.</p>
                    <a class="btn btn-primary">Click here</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">THINK LIKE A MONK</h5>
                    <p class="card-text">An easy and proven way to build.</p>
                    <a class="btn btn-primary">Click here</a>
                </div>
            </div>

        </div>
    </div>
</div>